<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<link rel = "stylesheet" type="text/css" href="main.css">
    <link href = "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<script src="jquery-2.1.3.min.js"></script>
	<script src="main.js"></script>
</head>

<body>
<div style="text-align:center;">
	<h id="id1">URL Extracted..</h>
    <p id = "ss">Screen Shot taken..</p>
    <h id="id2" style="display: none;">The URL</h>
    <b> <p id="host" style="margin-left:15px;margin-right:15px;"></p></b>
     <p id="id3">Check this URL is Phishing or not...</p><br>
     <div class="arrow bounce" id="fafa">
        <a class="fa fa-hand-o-down fa-2x" href="#"></a>
     </div>
     <input type="submit" class="btn btn-primary" id="scan" value="Scan..."></input><br>
    <i class="fa fa-spinner fa-spin" id="loader" style="font-size:50px;color: dodgerblue;display: none;"></i>
    <span><p id="urlText"></p><p id="UrlResult" style="font-size: 20px;font-weight: bold;"></p></span>
    <span><p id="ssText"></p><p id="ScreenShotResult" style="font-size: 20px;font-weight: bold;"></p></span>
  </div>
</body>	
</html>
